*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#081B3A;

}

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:20px 70px;

    background:#081B3A;

}

.logo{

    display:flex;

    align-items:center;

    gap:10px;

}

.logo img{

    width:55px;

}

.logo h2{

    color:white;

}

nav ul{

    display:flex;

    list-style:none;

    gap:35px;

}

nav ul li a{

    text-decoration:none;

    color:white;

    font-weight:bold;

}

nav button{

    padding:10px 25px;

    background:#FFC107;

    border:none;

    border-radius:5px;

    cursor:pointer;

    font-weight:bold;

}
